extends ../common/layout

block scripts
  script(type="text/javascript", src="/javascripts/lib/elementHandler.js");
  script(type="text/javascript", src="/javascripts/lib/socketForm.js");
  script(type="text/javascript", src="/javascripts/chat.js")

block contents
  .container
    .row.login.hide
      .span4
        h3 Choose your nickname
        form#register-form(action="register")
          input(name="nickname", placeholder="nickname")
          br
          a#register-handler.element-handler(href="#register") I want to register
          #register
            input(name="email", placeholder="email")
            input(name="password", type="password", placeholder="password")
      .span4
        h3 Or login
        form.socket-form(action="login")
          input(name="email", placeholder="email")
          input(name="password", type="password", placeholder="password")
